<% stylesheet_link_tag 'stylesheets/index.css' %>
<section class="initial">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-9">
        <h1>Welcome to Urutau</h1>
          <p><small>Simples, adaptavél e aberto</small></p>
      </div>
			<div class="col-xs-6 col-md-3">
        <%= form_tag("/user/authenticate", method: "POST", class: "form-signin") do %>
          <%= text_field_tag(:login, nil, class: "form-control", autofocus: true,
            required: true, placeholder: "User login") %>
          <%= password_field_tag(:password, nil, class: "form-control",
            required: true, placeholder: "Password") %>
					<%= submit_tag("Login", class: "btn btn-lg btn-primary btn-block") %>
        <% end %>
     	</div>
    </div>
  </div>
</section>

<section id="register" class="register home-section">
	 <div class="container">
		<div class="row">
			<div class="col-xs-7 col-md-4 col-md-offset-1">
        <!-- PUT REGISTER ERRORS HERE -->
				<h2>Sign in</h2>
				<%= render "users/new" %>
			</div>
			<div class="col-xs-6 col-md-4 col-md-offset-2">
				<div class="thumbnail">
					<h1 class="motive">
						<i class="glyphicon glyphicon-cog"></i> Highly configurable
					</h1>
					<div class="caption">
						Urutau provides how many settings you need
					</div>
				</div>
				<div class="thumbnail">
					<h1 class="motive">
						<i class="glyphicon glyphicon-edit"></i> Easy to contribute
					</h1>
					<div class="caption">
						We build it, to facility your contribute
					</div>
				</div>
				<div class="thumbnail">
					<h1 class="motive">
						<i class=" glyphicon glyphicon-book"></i>
						Helpful to manage requirements
					</h1>
					<div class="caption">
						Now you will have control!
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
