<div class="row">
  <div class="col-md-12">
    <h1>Account settings</h1>
    <p class="text-muted">More sensitive settings.</p>
    <%= render 'settings_tabs', active: 'account' %>
  </div>
</div>
<%= simple_form_for current_user,
                    url: user_settings_update_password_path,
                    method: 'POST' do |f| %>
  <div class="row mt-3">
    <div class="col-md-4">
      <h4>Change password</h4>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
      <%= f.input :old_password %>
      <%= f.button :submit, 'Update password', class: 'btn btn-success' %>
    </div>
  </div>
<% end %>

<div class="row mt-3">
  <div class="col-md-5">
    <h4>Delete account</h4>
    <p class="text-danger">
      Deleting your account will lose all your user data.
      If anyway, you are sure, type 'Yes I agree' and click the button below.
    </p>
    <%= form_for current_user, class: "form-inline", method: :delete do |f| %>
      <input type="password" name="password" class="text-danger">
      <button class="btn btn-danger">Delete your account</button>
    <% end %>
  </div>
</div>

</div>
