<% unless @project.artifacts.empty? %>
  <table class="table">
    <tbody>
      <% @project.last_versions.each do |artifact| %>
        <tr>
          <td><i class="glyphicon <%= artifact.glyph_icon %>"></i> <%= artifact.actable_type %></td>
          <td><%= link_to artifact.title, artifact.show_link  %></td>
          <td><%= artifact.author.login %></td>
          <td><%= time_ago_in_words artifact.updated_at.strftime("%B %d %Y %H:%M") %></td>
          <td>
            <a href="<%= artifact.edit_link %>">
              <i class="fa fa-edit"></i>
            </a>
          </td>
          <td>
            <%= link_to artifact, method: :delete do %>
              <i class="fa fa-trash-alt"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h4 class="text-center info">
    <span class="glyphicon glyphicon-info-sign"></span>
    Não existem requisitos nesse projeto ainda...
  </h4>
<% end %>
