<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="w-50">
      <%= f.input :name, placeholder: 'Short names are memorable' %>
    </div>
    <%= f.input :description, as: :text, placeholder: 'Tell us a little about what the project is about.' %>
  </div>

  <div class="form-actions">
    <%= link_to 'Back', :back, class: 'btn btn-default pull-left'  %>
    <%= f.button :submit, class: 'btn btn-success pull-right' %>
  </div>
<% end %>
