<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, placeholder: 'Short and memorable names are more attractive' %>
    <%= f.input :description, as: :text, placeholder: 'Tell us a little about what the project is about.' %>
  </div>

  <div class="form-actions">
    <%= link_to 'Back', projects_path, class: 'btn btn-default pull-left'  %>
    <%= f.button :submit, class: 'btn btn-success pull-right' %>
  </div>
<% end %>
