<%= render 'layouts/breadcrumb',
    project_name: @artifact.project.name,
    current_page: 'Artifact versions' %>

<div class="row mb-3">
  <h1><%= @artifact.title %> <small>versions</small></h1>
</div>

<div class="row">
  <% @versions.each do |v| %>
    <div class="card w-100 <%= "bg-light" if v.last_version%>">
      <div class="card-body">
        <a href="/<%= @artifact.show_version(params[:project_name]) %>">
          <span class="font-weight-bold">
            <%= v.title %>
          </span>
          <div class="float-right">
            <%= v.version %>
          </div>
        </a>
        <p class="card-text">
          <a href="/user/<%= v.author.login %>"><%= v.author.login %></a>
          updated <%= time_ago_in_words v.time_creation %>
        </p>
      </div>
    </div>
  <% end %>
</div>
