<!DOCTYPE html>
<html>
  <head>
    <title>FactBox</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/messages' %>
    <div class="wrap container">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
